<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>All Bookings</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>All Bookings</h2>
                <table class="table table-striped align-middle">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Booking Date</th>
                        <th>Hotel</th>
                        <th>Customer</th>
                        <th>Total Price</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="align-middle" th:each="booking : ${bookings}">
                        <td th:text="${booking.id}"></td>
                        <td th:text="${booking.bookingDate}"></td>
                        <td th:text="${booking.hotelName}"></td>
                        <td th:text="${booking.customerEmail}"></td>
                        <td th:text="'$ ' + ${#numbers.formatDecimal(booking.totalPrice, 0, 'COMMA', 2, 'POINT')}"></td>
                        <td>
                            <a th:href="@{/admin/bookings/{id}(id=${booking.id})}" class="btn btn-primary btn-sm">Details</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
