<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Hotel Details</title>
    <th:block th:insert="~{fragment/leaflet :: leaflet-css}"></th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row align-items-stretch mb-4">
            <div class="col-md-6">
                <h3 class="mb-3"><strong th:text="${hotel.name}">Hotel Name</strong></h3>
                <p class="mb-2" th:text="${hotel.addressDTO.addressLine}">Address Line</p>
                <p th:text="${hotel.addressDTO.city + ', ' + hotel.addressDTO.country}">City, Country</p>
            </div>
            <div class="col-md-6 d-flex">
                <div id="map" class="border bg-light flex-grow-1" style="min-height: 300px;"></div>
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <div class="col-md-12">
                <h4>Availability</h4>
                <p>
                    <span th:text="${checkinDate}"></span>
                    <span class="mx-3">>>></span>
                    <span th:text="${checkoutDate}"></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="/booking/initiate" method="post" id="booking-form">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Room Type</th>
                            <th>Number of Guests</th>
                            <th>Price for <span th:text="${durationDays}"></span> Night(s)</th>
                            <th>Select Rooms</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="room, iterStat : ${hotel.roomDTOs}">
                            <td th:text="${room.roomType.name()}">Room Type</td>
                            <td>
                                <span th:if="${room.roomType.name() == 'SINGLE'}"><i class="bi-person-fill"></i></span>
                                <span th:if="${room.roomType.name() == 'DOUBLE'}"><i class="bi-person-fill"></i><i
                                        class="bi-person-fill"></i></span>
                            </td>
                            <td th:utext="'$ ' + ${#numbers.formatDecimal(room.pricePerNight * durationDays, 0, 'COMMA', 2, 'POINT')}">Price</td>
                            <td>
                                <select class="form-select room-select"
                                        th:data-duration-price="${room.pricePerNight * durationDays}">
                                    <option th:if="${room.roomType.name() == 'SINGLE'}"
                                            th:each="num : ${#numbers.sequence(0, hotel.maxAvailableSingleRooms)}"
                                            th:value="${num}" th:text="${num}"></option>
                                    <option th:if="${room.roomType.name() == 'DOUBLE'}"
                                            th:each="num : ${#numbers.sequence(0, hotel.maxAvailableDoubleRooms)}"
                                            th:value="${num}" th:text="${num}"></option>
                                </select>
                                <input type="hidden" th:name="${'roomSelections[' + iterStat.index + '].roomType'}"
                                       th:value="${room.roomType.name()}"/>
                                <input type="hidden" th:name="${'roomSelections[' + iterStat.index + '].count'}"
                                       value="0" id="roomCountInput"/>
                            </td>
                            <!-- Display the button only on the first row, but make it span all rows -->
                            <td th:if="${iterStat.index == 0}" th:attr="rowspan=${#lists.size(hotel.roomDTOs)}">
                                <div class="mb-2">
                                    <h4><strong>Total:</strong></h4>
                                    <div id="totalPrice">$0.00</div>
                                </div>
                                <button class="btn btn-secondary w-100" id="reserve-button" disabled>Reserve</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="totalPriceInput" name="totalPrice"/>
                    <input type="hidden" name="hotelId" th:value="${hotel.id}"/>
                    <input type="hidden" name="checkinDate" th:value="${checkinDate}"/>
                    <input type="hidden" name="checkoutDate" th:value="${checkoutDate}"/>
                    <input type="hidden" name="durationDays" th:value="${durationDays}"/>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="additional-scripts">
    <th:block th:insert="~{fragment/leaflet :: leaflet-js}"></th:block>
    <script th:src="@{/js/hotel-map.js}"></script>
    <!-- Initialize the hotel map with hotel address -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function () {
            initializeHotelMap([[${hotel.addressDTO.addressLine + ', ' + hotel.addressDTO.city + ', ' + hotel.addressDTO.country}]]);
        });
        /*]]>*/
    </script>
    <script>
        $(document).ready(function () {
            const roomSelect = $(".room-select");
            const reserveButton = $("#reserve-button");

            // Reset the room selection
            function resetRoomSelection() {
                roomSelect.each(function () {
                    $(this).val(0);
                });
            }

            // Function to format the price with two decimal places and thousand separators
            function formatPrice(price) {
                return '$ ' + price.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            // Calculate the total cost
            function calculateTotal() {
                let total = 0;
                roomSelect.each(function () {
                    let roomDurationPrice = parseFloat($(this).data("duration-price"));
                    let roomCount = parseInt($(this).val(), 10);
                    total += roomDurationPrice * roomCount;
                });

                $("#totalPrice").html('<strong>' + formatPrice(total) + '</strong>');
                $("#totalPriceInput").val(total.toFixed(2));

                if (total === 0) {
                    reserveButton.prop('disabled', true);
                    reserveButton.removeClass('btn-primary').addClass('btn-secondary');
                } else {
                    reserveButton.prop('disabled', false);
                    reserveButton.removeClass('btn-secondary').addClass('btn-primary');
                }
            }

            // Reset room selection whenever page is shown
            $(window).on("pageshow", function () {
                resetRoomSelection();
                calculateTotal();
            });

            // Update the room count and calculate the total when room selection changes
            roomSelect.on("change", function () {
                let count = $(this).val();
                $(this).siblings("#roomCountInput").val(count);
                calculateTotal();
            });

            // Event for clicking the reserve button
            reserveButton.click(function () {
                $("#booking-form").submit();
            });

            // Initial function calls
            calculateTotal();
        });
    </script>
</th:block>
</body>
</html>
