<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Layout: Main</title>
    <th:block th:insert="~{fragments/bootstrap :: bootstrap-css}"></th:block>
    <th:block th:insert="~{fragments/bootstrap :: bootstrap-icons}"></th:block>
</head>
<body class="d-flex flex-column vh-100">
<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>

<div class="flex-grow-1 mt-3">
    <th:block layout:fragment="content"></th:block>
</div>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>

<th:block th:insert="~{fragments/bootstrap :: bootstrap-js}"></th:block>
</body>
</html>