<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Layout: Main</title>
    <th:block th:insert="~{fragment/bootstrap :: bootstrap-css}"></th:block>
    <th:block th:insert="~{fragment/bootstrap :: bootstrap-icons}"></th:block>
    <th:block th:insert="~{fragment/jquery-ui :: jquery-ui-css}"></th:block>
</head>
<body class="d-flex flex-column vh-100">
<th:block th:insert="~{fragment/navbar :: navbar}"></th:block>
<div class="flex-grow-1 m-3">
    <th:block layout:fragment="content"></th:block>
</div>
<th:block th:insert="~{fragment/footer :: footer}"></th:block>
<th:block th:insert="~{fragment/jquery :: jquery}"></th:block>
<th:block th:insert="~{fragment/jquery-ui :: jquery-ui-js}"></th:block>
<th:block th:insert="~{fragment/bootstrap :: bootstrap-js}"></th:block>
<th:block layout:fragment="additional-scripts"></th:block>
</body>
</html>