<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Add Hotel</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Add New Hotel</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/manager/hotels/add}" th:object="${hotel}">
                            <div class="form-group mb-3">
                                <label class="form-label" for="name">Hotel Name:</label>
                                <input class="form-control" id="name" type="text" th:field="*{name}"
                                       placeholder="Enter hotel name">
                                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="addressLine">Address Line:</label>
                                <input class="form-control" id="addressLine" type="text"
                                       th:field="*{addressDTO.addressLine}"
                                       placeholder="Enter address line">
                                <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.addressLine')}"
                                   th:errors="*{addressDTO.addressLine}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="city">City:</label>
                                <input class="form-control" id="city" type="text" th:field="*{addressDTO.city}"
                                       placeholder="Enter city">
                                <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.city')}"
                                   th:errors="*{addressDTO.city}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="country">Country:</label>
                                <input class="form-control" id="country" type="text" th:field="*{addressDTO.country}"
                                       placeholder="Enter country">
                                <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.country')}"
                                   th:errors="*{addressDTO.country}"></p>
                            </div>
                            <!-- Single Room Count -->
                            <div class="form-group mb-3">
                                <label class="form-label" for="singleRoomCount">Single Room Count:</label>
                                <input class="form-control" id="singleRoomCount" type="number"
                                       th:field="*{roomDTOs[0].roomCount}"
                                       placeholder="Enter count for single rooms">
                                <input type="hidden" th:field="*{roomDTOs[0].roomType}">
                                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[0].roomCount')}"
                                   th:errors="*{roomDTOs[0].roomCount}"></p>

                                <label class="form-label" for="singleRoomPrice">Single Room Price ($):</label>
                                <input class="form-control" id="singleRoomPrice" type="number" step="0.01"
                                       th:field="*{roomDTOs[0].pricePerNight}"
                                       placeholder="Enter price for single rooms">
                                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[0].pricePerNight')}"
                                   th:errors="*{roomDTOs[0].pricePerNight}"></p>
                            </div>
                            <!-- Double Room Count -->
                            <div class="form-group mb-3">
                                <label class="form-label" for="doubleRoomCount">Double Room Count:</label>
                                <input class="form-control" id="doubleRoomCount" type="number"
                                       th:field="*{roomDTOs[1].roomCount}"
                                       placeholder="Enter count for double rooms">
                                <input type="hidden" th:field="*{roomDTOs[1].roomType}">
                                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[1].roomCount')}"
                                   th:errors="*{roomDTOs[1].roomCount}"></p>

                                <label class="form-label" for="doubleRoomPrice">Double Room Price ($):</label>
                                <input class="form-control" id="doubleRoomPrice" type="number" step="0.01"
                                       th:field="*{roomDTOs[1].pricePerNight}"
                                       placeholder="Enter price for double rooms">
                                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[1].pricePerNight')}"
                                   th:errors="*{roomDTOs[1].pricePerNight}"></p>
                            </div>
                            <!-- -->
                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-primary">Add Hotel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
