<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Fragment: Navbar</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-3" th:fragment="navbar">
    <div class="container col-md-10">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/img/camel-logo-50.png" alt="Logo" width="50" height="50"
                 class="d-inline-block align-content-center">
            Camel Travel
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/register/manager}">List your property</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/register/customer}">Register</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form class="form-inline mt-2 mt-md-0" method="post" th:action="@{/logout}">
                    <button class="btn btn-link my-2 my-sm-0" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>