<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Homepage</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container pt-5">
        <div class="row justify-content-center align-items-start">
            <div class="col-12 text-center">
                <h1 class="display-4 mb-4">"Travel far enough, you meet yourself."</h1>
                <p class="lead mb-4">We believe in making your travel plans simple and enjoyable.<br>Let's start a new
                    journey!</p>
                <a href="/login" class="btn btn-primary btn-lg">Explore - Dream - Discover</a>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
