<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Homepage</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-4 text-center">
                <h1 class="mb-5">Welcome to KAK Hotel Booking App</h1>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>