<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <th:block th:insert="~{fragments/bootstrap :: bootstrap-css}"></th:block>
</head>
<body>

<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>

<h1>Login page</h1>
<p th:if="${loginError}" class="error">Wrong user or password</p>
<form th:action="@{/login.html}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
    <label for="password">Password</label>:
    <input type="password" id="password" name="password"/> <br/>
    <input type="submit" value="Log in"/>
</form>

<th:block th:insert="~{fragments/bootstrap :: bootstrap-js}"></th:block>

</body>
</html>