<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Dashboard</title>
    <th:block th:insert="~{fragments/bootstrap :: bootstrap-css}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form th:action="#" th:object="${search}">
                        <div class="mb-3">
                            <label for="location" class="form-label">Enter location:</label>
                            <input type="text" class="form-control" id="location" th:field="*{location}">
                        </div>
                        <div class="mb-3">
                            <label for="dates" class="form-label">Check-in & Check-out date:</label>
                            <input type="text" class="form-control" id="dates" th:field="*{dates}">
                        </div>
                        <div class="mb-3">
                            <label for="guests" class="form-label">Number of guests:</label>
                            <input type="number" class="form-control" id="guests" th:field="*{guests}">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/bootstrap :: bootstrap-js}"></th:block>
</body>
</html>