<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Customer Edit Account</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">User Account Editing</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/customer/account/edit}" th:object="${user}">
                            <div class="form-group mb-3">
                                <label class="form-label" for="username">Email:</label>
                                <input class="form-control" id="username" type="email" th:field="*{username}"
                                       placeholder="Enter email address">
                                <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="name">First Name:</label>
                                <input class="form-control" id="name" type="text" th:field="*{name}"
                                       placeholder="Enter first name">
                                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="lastName">Last Name:</label>
                                <input class="form-control" id="lastName" type="text" th:field="*{lastName}"
                                       placeholder="Enter last name">
                                <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <a th:href="@{/customer/account}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
